/* common.css 或 global.css */
.container {
  background: url('http://39.98.115.211:8787/app/admin/upload/bgimgs/bg.png') no-repeat center center;
  background-size: cover; /* 确保背景图可以覆盖整个页面 */
  min-height: 100vh;
}
